//Here I will have styles for border radius, box-shadow, etc.

.border-radius-5 { border-radius: .5rem}
.border-radius-10 { border-radius: 1rem}
.border-radius-15 { border-radius: 1.5rem}
.border-radius-20 { border-radius: 2rem}
.border-radius-25 { border-radius: 2.5rem}
.border-radius-30 { border-radius: 3rem}
.border-radius-40 { border-radius: 4rem}

.border-radius-50percent { border-radius: 50%}



.text-decoration-none {text-decoration: none;}

//can be used for troubleshooting/debugging css
.outline-red { outline: 1px solid red; }




//Border Inside - Trick
//no offset in any direction (hor. or ver.), no blur, only scale it
border-inside { box-shadow: inset 0 0 0 3px #fff;}

//Box Shadow
.shadow-1 { box-shadow: 0 12px 24px rgba(0,0,0,.25)}
.shadow-2 { box-shadow: 0 0 32px rgba(0,0,0,.1)}


//Images

//Scale-Images
.scale-11 {transform: scale(1.1)}
.scale-12 {transform: scale(1.2)}
.scale-13 {transform: scale(1.3)}
.scale-14 {transform: scale(1.4)}
.scale-15 {transform: scale(1.5)}


//Icons OR HTML Entities
.rotate-90 { transform: rotate(90deg);}
.rotate-180 { transform: rotate(180deg);}


//Border
.border-1 { border: 1px solid}
.border-2 { border: 2px solid}
.border-3 { border: 3px solid}

.border-bottom-1-black { border-bottom: 1px solid black;}
.border-bottom-2-black { border-bottom: 2px solid black;}
.border-bottom-2-white { border-bottom: 2px solid white;}
.border-bottom-4-white { border-bottom: 4px solid white;}
.border-top-1-black { border-top: 1px solid black;}
.border-right-1-black { border-right: 1px solid black;}


//Pseudo Classes





//I can add a divider class - for dividing btn sections or acting as hr rule